extensions/maven-plugin/src/plugin-resources/om-layer/torque/schema/turbine-security-data.dtd

<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->
<!ELEMENT dataset (
    TurbineUser|
    TurbinePermission|
    TurbineRole|
    TurbineGroup|
    TurbineRolePermission|
    TurbineUserGroupRole)*>
<!ATTLIST dataset
    name CDATA #REQUIRED
>

<!ELEMENT TurbineUser EMPTY>
<!ATTLIST TurbineUser
    UserId CDATA #REQUIRED
    UserName CDATA #REQUIRED
    Password CDATA #REQUIRED
    FirstName CDATA #REQUIRED
    LastName CDATA #REQUIRED
    Email CDATA #IMPLIED
    Confirmed CDATA #IMPLIED
    Modified CDATA #IMPLIED
    CreateDate CDATA #IMPLIED
    LastLogin CDATA #IMPLIED
    Objectdata CDATA #IMPLIED
>

<!ELEMENT TurbinePermission EMPTY>
<!ATTLIST TurbinePermission
    PermissionId CDATA #REQUIRED
    Name CDATA #REQUIRED
>

<!ELEMENT TurbineRole EMPTY>
<!ATTLIST TurbineRole
    RoleId CDATA #REQUIRED
    Name CDATA #REQUIRED
>

<!ELEMENT TurbineGroup EMPTY>
<!ATTLIST TurbineGroup
    GroupId CDATA #REQUIRED
    Name CDATA #REQUIRED
>

<!ELEMENT TurbineRolePermission EMPTY>
<!ATTLIST TurbineRolePermission
    RoleId CDATA #REQUIRED
    PermissionId CDATA #REQUIRED
>

<!ELEMENT TurbineUserGroupRole EMPTY>
<!ATTLIST TurbineUserGroupRole
    UserId CDATA #REQUIRED
    GroupId CDATA #REQUIRED
    RoleId CDATA #REQUIRED
>

